# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=threat_analyzer
DATABASE_URL=postgresql://postgres:yourpassword@db:5432/threat_analyzer

# JWT
SECRET_KEY=your-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# MLflow
MLFLOW_TRACKING_URI=/app/mlruns

# Admin
ADMIN_EMAIL=your-admin-email@example.com

# App
ENV=development
